@font-face {
  font-family: 'vazir';
  src: url('../fonts/vazir/vazir.ttf');
}

body {
  text-align: right;
  direction: rtl;
  font-family: 'vazir';
}

.a {
  text-decoration: none;
}

.main {
  padding-top: 3rem;
}

h2 , h3 , h4 , h5 , h6 {
  color: grey;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.menu{
  background-color: #1F3541;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top:20px;
  font-size:100%;
  border: 2px solid rgb(37, 11, 99);
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgb(221, 218, 224) ; 
}

.nav-link a:hover, .nav-link a:focus {
  color: rgb(71, 129, 196);
}

.nav-link {
  list-style: none;
  color:rgb(164, 161, 167);
}

.nav-item {
  margin:1%;
  padding-top: 0.5%;
  font-size: 100%;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing {
  text-align: center;
}

.mb-3 {
  margin: auto;
}

div.section , div.sidebar {
  float: left;
}

.section {
  width: 70%;
}

.sidebar {
  width: 30%;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(168, 164, 164);
  margin: 7px;
}

.btncard {
  font-size: small;
  color: white;
  background-color: #1F3541;
}

.navsection {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.sidebar {
  text-align: center;
}

.show {
  border-radius: 10px;
  margin-right: 10px;
  margin-left:10px;
}

.box{
  text-align: right;
  margin: 0 5px 0 30px;
}

btn-toggle {
  display: inline-flex;
  align-items: right;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-toggle:hover, .btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
  background-color:rgb(241, 238, 243);
}

footer {
  background-color: rgb(241, 238, 243);
}

ul ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}